<h1 class="mb-4">Navigation bar</h1>

<div data-react-class="CadmusNavbarAdminApp" data-react-props="<%={ baseUrl: url_for(action: 'index'), pagesUrl: url_for(controller: 'pages', action: 'index') }.to_json%>"></div>